.skelton {
    ion-row {
        background: #fff;
    }

    p {
        margin: 1rem 0rem !important;
    }

    ion-avatar {
        height: 30px;
        width: 30px;
        text-align: center;
        margin: auto;
    }
}