ion-title {
    font-size: 15px;

    p {
        line-height: 0;
        color: var(--ion-text-color);
        font-size: 11px;
    }
}

ion-icon.back {
    font-size: 30px;
    margin-left: 13px;
    color: var(--ion-back-btn-color);
}

ion-select {
    width: 100%;
}

ion-button.continue {
    --background: transparent;
    --border: 0px;
    --box-shadow: none;
    color: var(--ion-color-primary);
    cursor: pointer;
}

ion-button.btn-back {
    z-index: 99999;
    cursor: pointer;
}

.continue {
    text-decoration: none;
}

ion-list.border-input {
    background: transparent;

    ion-item {
        border: 1px solid #ddd;
    }

    ion-label {
        float: left;
        min-width: 100%;
        font-size: 19px;
        text-align: left;
        height: 34px;
    }
}

ion-list.charly-points {
    background: var(--ion-color-primary-contrast);

    ion-item {
        --background: transparent;
    }

    ion-label {
        color: var(--ion-text-heading-color) !important;
        padding-left: 10px;
    }
}

ion-list.school-exposure-input {
    background: transparent;
    margin: 0px 0px !important;

    ion-label {
        float: left;
        min-width: 100%;
        font-size: 19px;
        text-align: left;
        padding-left: 25px;
    }

    img {
        height: 86px;
        object-fit: cover;
        width: 400px;
    }
}

ion-label.about-school {
    float: left;
    font-size: 21px;
    width: 100%;
    color: var(--ion-text-heading-color) !important;
}

ion-list {

    margin: 6px 0px !important;

    img {
        object-fit: cover;
    }

    img.admin {
        height: 30px;
        width: 30px;

    }

    p {
        color: var(--ion-text-color);
    }

}

ion-textarea {
    color: var(--ion-text-heading-color) !important;
}

h3 {
    color: var(--ion-text-heading-color);
    text-align: left;
}

input[accept*="image"] {
    // opacity: 0;
    top: 0;
    height: 75px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.no-photo {
    margin-top: 10px;
}