ion-title {
    font-size: 15px;

    p {
        line-height: 0;
        color: var(--ion-text-color);
        font-size: 11px;
    }
}

ion-col.location {
    color: var(--ion-color-primary);

    ion-icon {
        margin-right: 10px;
    }
}

.add-school {
    text-decoration: none;
}

ion-list {
    margin: 6px 0px !important;
    border: 1px solid var(--ion-color-medium-tint);
    cursor: pointer;
    border-radius: 5px;
    img {
        object-fit: cover;
    }

    img.admin {
        height: 30px;
        width: 30px;

    }
    ion-label {
        color: var(--ion-text-heading-color);
        line-height:2;
    }
    ion-button.invited {
        position: absolute;
        right: 23%;
        font-size: 11px;
        text-transform: capitalize;
    }
}