ion-title {
    font-size: 15px;

    p {
        line-height: 0;
        color: var(--ion-color-warning);
        font-size: 11px;
    }
}

.landscape {
    ion-list {
        width: 60%;
        text-align: center;
        margin: auto;
      
    }
}

ion-list {
    padding-bottom: 0px !important;
    ion-label {
        color: var(--ion-text-heading-color);
        line-height: 2;
    }
    ion-item {
        border-bottom: 1px solid var(--ion-color-medium-tint);
        cursor: pointer;
    }
}