ion-title {
    font-size: 15px;

    p {
        line-height: 0;
        color: var(--ion-text-color);
        font-size: 11px;
    }
}

ion-icon.back {
    font-size: 25px;
    margin-left: 13px;
    color: var(--ion-back-btn-color);
}

ion-button.btn-back {
    z-index: 99999;
    cursor: pointer;
}

.continue {
    text-decoration: none;
}
ion-list.border-input {
    background: transparent;

    ion-item {
        border: 1px solid #ddd;
    }

    ion-label {
        float: left;
        min-width: 100%;
        font-size: 19px;
        text-align: left;
        height: 34px;
    }
}
ion-list {
    margin: 6px 0px !important;

    img {
        object-fit: cover;
    }

    img.admin {
        height: 30px;
        width: 30px;

    }

    p {
        color: var(--ion-text-color);
    }

}

h3 {
    color: var(--ion-text-heading-color);
}

ion-list.charly-points {
    background: transparent;

    ion-item {
        --background: transparent;
    }

    ion-label {
        color: var(--ion-text-heading-color) !important;
    }
}

ion-button.continue {
    --background: transparent;
    --border: 0px;
    --box-shadow: none;
    color: var(--ion-color-primary);
    cursor: pointer;
}
input[accept*="image"] {
    opacity: 0;
    top: 0;
    height: 95px;
    text-align: center;
    width: 100%;
}

.no-photo {
    margin-top: 10px;
}
ion-badge {
    background: transparent;
    color: var(--ion-color-primary);
}